---
layout: layout.njk
title: See Your Saved NYS Services
url: 
domain: 
facebook:
    title:  Find NYS Services
    description: Find NYS Services
    image: nygov-logo.png
twitter:
    title: Find NYS Services
    description: Find NYS Services
    image: nygov-logo.png
---
{% from './_includes/_components.njk' import service %}

<section class="mx-4 md:mx-12 mt-8 pb-8" x-data="">
    <h1 class="font-bold text-2xl text-ny-blue mb-4"> Here's what you need to get started </h1>
        <p class="my-4">We recommend sharing this list so you can refer back to it anytime.</p>
        <div class="flex flex-col md:flex-row mb-8 gap-4 md:gap-8 print:hidden">
            <button 
            class="grow p-4 bg-ny-blue text-white tracking-widest font-bold rounded-xl uppercase text-sm hover:bg-black focus:bg-black"
            @click=""> 
                Email List 
            </button>
            <button 
            class="grow p-4 bg-ny-blue text-white tracking-widest font-bold rounded-xl uppercase text-sm hover:bg-black focus:bg-black"
            @click="window.print()"> 
                Print List 
            </button>
        </div>
        {{
            service({
                service:"Child Care Subsidy Program",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"1",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Unemployment Assistance",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"2",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Supplemental Nutrition Assistance Program (SNAP)",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"3",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Home Energy Assistance Program (HEAP)",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"4",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Section 8 Housing Choice Voucher Program",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"5",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Paid Family Leave for Bonding",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"6",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Medicare",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"7",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Women, Infants, and Children’s Program (WIC)",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"8",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Disability Benefits Claim",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"9",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Adult Career and Continuing Education Services - Vocational Rehabilitation (ACCES-VR)",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"10",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Shared Work Program",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"11",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Child Health Plus",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"12",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Paid Family Leave for Family Care",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"13",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Paid Family Leave for Military Families",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"14",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"NYS Tuition Assistance Program (TAP)",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"15",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"New York State Veterans Blind Annuity Program",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"16",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Veteran Disability Compensation",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"17",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Aid for Part Time Study",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"18",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Find a COVID-19 Testing Site Near You",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"19",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"COVID-19 Quarantine Leave",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"20",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"New York State Domestic Violence and Sexual Violence Hotline",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"21",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Find a Job",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"22",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Housing Resources During COVID-19",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"23",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Find a Food Bank Near You",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"24",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"COVID-19 Emotional Support Helpline and Other Mental Health Resources",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"25",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"COVID-Related Health Insurance Information and Resources",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"26",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Find Meals for Kids When Schools are Closed",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"27",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Accessing Addiction Services During COVID",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"28",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"COVID-19 resources for New Americans",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"29",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Find Diaper Assistance in Your Area",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"30",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Temporary Assistance",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"31",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"File Your Taxes for Free Online",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"32",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Veterans Non-Service Connected Pension",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"33",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Homeowner Assistance Fund",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"34",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Emergency Rental Assistance Program",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"35",
                saved:"checkurl"
            })
        }}
        {{
            service({
                service:"Get a COVID-19 Vaccine",
                description: "A brief description of this awesome service for you.",
                link:"https://ny.gov",
                servicenum:"36",
                saved:"checkurl"
            })
        }}
        </section>