<div class="my-4 w-full md:w-2/3">
        {% if params.type == 'boolean' %}
        <fieldset><!-- start a question -->
            <legend>{{params.question}}</legend>
            <p class="text-red-600 border-red-800" 
                :hidden="true" 
                id="q{{params.qnum}}error" 
                x-ref="q{{params.qnum}}error"
                x-cloak>Please answer "Yes" or "No"</p>
            {% if params.helptext %}<p class="text-sm my-2">{{params.helptext}}</p>{% endif %}    
            <div 
                class="flex flex-row items-center border border-ny-blue-second my-2 pl-4 rounded-xl" 
                @click="$refs.q{{params.qnum}}no.classList.remove('bg-ny-light');$el.classList.add('bg-ny-light');$refs.q{{params.qnum}}error.hidden = true" 
                x-ref="q{{params.qnum}}yes" >
                <input 
                    type="radio" 
                    value="yes" 
                    x-model.lazy="q{{params.qnum}}" 
                    id="q{{params.qnum}}-yes"  
                    required 
                    oninvalid="q{{params.qnum}}error.hidden = false;resultsarea.hidden = true" 
                    />
                <label 
                    for="q{{params.qnum}}-yes" 
                    class="w-full p-4">Yes</label>
            </div>
            <div 
                class="flex flex-row items-center border border-ny-blue-second my-2 pl-4 rounded-xl" 
                @click="$refs.q{{params.qnum}}yes.classList.remove('bg-ny-light');$el.classList.add('bg-ny-light');$refs.q{{params.qnum}}error.hidden = true" 
                x-ref="q{{params.qnum}}no">
                <input 
                    type="radio" 
                    value="no" 
                    x-model.lazy="q{{params.qnum}}" 
                    id="q{{params.qnum}}-no" 
                    required /> 
                <label 
                    for="q{{params.qnum}}-no" 
                    class="w-full p-4">No</label>
            </div>
        </fieldset><!-- END a question -->
        {% endif %}
        {% if params.type == 'currency' %}
        <div class="relative"><!-- currency Questions -->
        <label for="q{{params.qnum}}-currency" class="">{{params.question}}</label>
          <p class="text-red-600 border-red-800" 
                :hidden="true" 
                id="q{{params.qnum}}error" 
                x-ref="q{{params.qnum}}error" 
                x-cloak>Please enter a whole number greater than zero</p>
                {% if params.helptext %}<p class="text-sm my-2">{{params.helptext}}</p>{% endif %}    
            <input 
            class="w-full mt-2 p-4 pl-8 border border-ny-blue-second rounded-xl " 
            @input="$refs.q{{params.qnum}}error.hidden = true; $el.ariaInvalid = false"
            id="q{{params.qnum}}-currency"
            x-model="q{{params.qnum}}"
            required 
            inputmode="numeric" 
            pattern="[0-9]*"  
            min="0" 
            aria-invalid="false"
            oninvalid="q{{params.qnum}}error.hidden = false; resultsarea.hidden = true; this.ariaInvalid = true" 
            type="number" />
            <span class="nysds-currency" aria-hidden="true"></span>
        </div><!-- end currency Questions -->
        {% endif %}
        {% if params.type == 'number' %}
           <div class="relative"><!-- number Questions -->
            <label for="q{{params.qnum}}-number" class="">{{params.question}}</label>
            <p class="text-red-600 border-red-800" 
                    :hidden="true" 
                    id="q{{params.qnum}}error" 
                    x-ref="q{{params.qnum}}error" 
                    x-cloak>Please enter a whole number greater than zero</p>
                    {% if params.helptext %}<p class="text-sm my-2">{{params.helptext}}</p>{% endif %}    
                <input 
                class="w-full mt-2 p-4 pl-8 border border-ny-blue-second rounded-xl " 
                @input="$refs.q{{params.qnum}}error.hidden = true; $el.ariaInvalid = false"
                id="q{{params.qnum}}-number"
                x-model="q{{params.qnum}}"
                required 
                inputmode="numeric" 
                pattern="[0-9]*"  
                min="0" 
                aria-invalid="false"
                oninvalid="q{{params.qnum}}error.hidden = false; resultsarea.hidden = true; this.ariaInvalid = true" 
                type="number" />
            </div><!-- end number question -->
        {% endif %}
    </div>
    