<div class="my-4 w-full md:w-2/3">
    <fieldset>
        <legend>{{params.question}}</legend>
        {% if params.type == 'boolean' %}
        <div class="flex flex-row items-center border border-admin-second my-2 pl-4 rounded-xl" @click="$refs.q{{params.qnum}}no.classList.remove('bg-admin-third');$el.classList.add('bg-admin-third')" x-ref="q{{params.qnum}}yes">
            <input type="radio" value="yes" x-model="q{{params.qnum}}" id="q{{params.qnum}}-yes" >
            <label for="q{{params.qnum}}-yes" class="w-full p-4">Yes</label>
        </div>
        <div class="flex flex-row items-center border border-admin-second my-2 pl-4 rounded-xl" @click="$refs.q{{params.qnum}}yes.classList.remove('bg-admin-third');$el.classList.add('bg-admin-third')" x-ref="q{{params.qnum}}no">
            <input type="radio" value="no" x-model="q{{params.qnum}}" id="q{{params.qnum}}-no">
            <label for="q{{params.qnum}}-no" class="w-full p-4">No</label>
        </div>{% endif %}
        {% if params.type == 'currency' %}
        <div class="flex flex-row items-center border border-admin-second my-2 pl-4 rounded-xl">
            <label for="q{{params.qnum}}-currency" class="py-4">$</label>
            <input class="w-11/12 mx-4" id="q{{params.qnum}}-currency" required inputmode="numeric" pattern="[0-9]*"  min="0" aria-invalid="false" type="number" value="">
        </div>
        {% endif %}
        {% if params.type == 'number' %}
        <div class="flex flex-row items-center border border-admin-second my-2 pl-4 rounded-xl">
            <label for="q{{params.qnum}}-currency" class="py-4">$</label>
            <input class="w-11/12 mx-4" id="q{{params.qnum}}-number" required inputmode="numeric" pattern="[0-9]*"  min="0" aria-invalid="false" type="number" value="">
        </div>
        {% endif %}
    </fieldset>
    </div>
    