{%if params.header %}
<header class="bg-ny-light p-2">
    <div class="mx-8 md:mx-20">
        <div class="inline-flex">
            <span class="nysds-globe mr-2" aria-hidden="true"></span>
            <label class="sr-only" for="language-list">
                Select your language preference
            </label>
            <select 
            class="bg-ny-light font-bold appearance-none" 
            id="language-list" 
            name="languages" 
            autocomplete="off">
                <option lang="en" value="" disabled selected hidden>Translate</option>
                <option lang="en" value="/" >English</option>
                <option lang="es" value="/es" >Español</option>
                <option lang="ar" value="/ar" >عربى</option>
                <option lang="bn" value="/bn" >বাঙালি</option>
                <option lang="zh" value="/zh" >中文</option>
                <option lang="fr" value="/fr" >Français</option>
                <option lang="ht" value="/ht" >Kreyòl ayisyen</option>
                <option lang="it" value="/it" >Italiano</option>
                <option lang="ko" value="/ko" >한국어</option>
                <option lang="pl" value="/pl" >Polski</option>
                <option lang="ru" value="/ru" >Русскийy</option>
                <option lang="ur" value="/ur" >اردو</option>
                <option lang="yi" value="/yi" >יידיש</option>
            </select>
            <span class="ml-2 nysds-caret-down" aria-hidden="true"></span>
        </div> 
    </div>
    
</header>
{%endif%}

{% if params.footer %}
<footer class="bg-[#333] text-white">
    <div class="hidden md:block px-20 pt-10 pb-16">
                <div class="flex flex-row mb-4">
                    <a href="https://www.ny.gov/web-translation-services" class="hover:text-ny-gold focus:text-ny-gold hover:underline focus:underline flex ">
                        <span class="nysds-globe" aria-hidden="true"></span>
                        <span class="ml-2 font-bold underline">Translation Services</span>
                    </a>
                    <span class="pt-0.5 ml-8">This page is available in other languages</span>
                </div>
              <ul class="flex lg:flex-row flex-wrap xl:gap-8 list-none font-bold underline ">
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="en"  href="/" title="English" class="hover:text-ny-gold focus:text-ny-gold">English</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="es"  href="/es" title="Spanish" class="hover:text-ny-gold focus:text-ny-gold">Español</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="ar"  href="/ar" title="Arabic" class="hover:text-ny-gold focus:text-ny-gold">عربى</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="bn"  href="/bn" title="Bengali" class="hover:text-ny-gold focus:text-ny-gold">বাঙালি</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="zh"  href="/zh" title="Chinese" class="hover:text-ny-gold focus:text-ny-gold">中文</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="fr"  href="/fr" title="French" class="hover:text-ny-gold focus:text-ny-gold">Français</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="ht"  href="/ht" title="Haitian-Creole" class="hover:text-ny-gold focus:text-ny-gold">Kreyòl ayisyen</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="it"  href="/it" title="Italian" class="hover:text-ny-gold focus:text-ny-gold">Italiano</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="ko"  href="/ko" title="Korean" class="hover:text-ny-gold focus:text-ny-gold">한국어</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="pl"  href="/pl" title="Polish" class="hover:text-ny-gold focus:text-ny-gold">Polski</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="ru"  href="/ru" title="Russian" class="hover:text-ny-gold focus:text-ny-gold">Русскийy</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="ur"  href="/ur" title="Urdu" class="hover:text-ny-gold focus:text-ny-gold">اردو</a></li>
                <li class="md:basis-1/4 xl:basis-auto py-2"><a lang="yi"  href="/yi" title="Yiddish" class="hover:text-ny-gold focus:text-ny-gold">יידיש</a></li>
              </ul>
        </div>
    <div class="block md:hidden p-8">
        <div class="flex flex-col mb-4">
                    <div class="flex">
                        <a href="https://www.ny.gov/web-translation-services" class=" hover:text-ny-gold focus:text-ny-gold hover:underline focus:underline flex ">
                            <span class=" font-bold underline nysds-globe before:pr-4">Translation Services</span>
                        </a>
                    </div>
                    <span class="mt-4 mb-2">This page is available in other languages</span>
        </div>
        <div class="flex border-solid border-white border">
            <div class="nysds-caret-down flex items-center grow after:pr-4">
                <label class="sr-only" for="language-list-footer">
                    Select your language preference
                </label>
                <select 
                class="bg-[#333] font-bold appearance-none grow p-2" 
                id="language-list-footer" 
                name="languages" 
                autocomplete="off">
                    <option lang="en" value="" disabled selected hidden>Translate</option>
                    <option lang="en" value="/" >English</option>
                    <option lang="es" value="/es" >Español</option>
                    <option lang="ar" value="/ar" >عربى</option>
                    <option lang="bn" value="/bn" >বাঙালি</option>
                    <option lang="zh" value="/zh" >中文</option>
                    <option lang="fr" value="/fr" >Français</option>
                    <option lang="ht" value="/ht" >Kreyòl ayisyen</option>
                    <option lang="it" value="/it" >Italiano</option>
                    <option lang="ko" value="/ko" >한국어</option>
                    <option lang="pl" value="/pl" >Polski</option>
                    <option lang="ru" value="/ru" >Русскийy</option>
                    <option lang="ur" value="/ur" >اردو</option>
                    <option lang="yi" value="/yi" >יידיש</option>
                </select>
            </div>
        </div>
    </div>
</footer>
{% endif %}

