{%if params.header %}
<header class="bg-ny-light p-2">
    <div class="mx-8 md:mx-20">
        <div class="inline-flex">
            <span class="nysds-globe mr-2" aria-hidden="true"></span>
            <label class="sr-only" for="language-list">
                Select your language preference
            </label>
            <select 
            class="bg-ny-light font-bold appearance-none" 
            id="language-list" 
            name="languages" 
            autocomplete="off">
                <option lang="en" value="" disabled selected hidden>Translate</option>
                <option lang="en" value="/" >English</option>
                <option lang="es" value="/es" >Español</option>
                <option lang="ar" value="/ar" >عربى</option>
                <option lang="bn" value="/bn" >বাঙালি</option>
                <option lang="zh" value="/zh" >中文</option>
                <option lang="fr" value="/fr" >Français</option>
                <option lang="ht" value="/ht" >Kreyòl ayisyen</option>
                <option lang="it" value="/it" >Italiano</option>
                <option lang="ko" value="/ko" >한국어</option>
                <option lang="pl" value="/pl" >Polski</option>
                <option lang="ru" value="/ru" >Русскийy</option>
                <option lang="ur" value="/ur" >اردو</option>
                <option lang="yi" value="/yi" >יידיש</option>
            </select>
            <span class="ml-2 nysds-caret-down" aria-hidden="true"></span>
        </div> 
    </div>
    
</header>
{%endif%}

{% if params.footer %}
<footer class="bg-[#333] text-white">
    <div class="hidden md:block">
                <div class="flex flex-row">
                    <a href="https://www.ny.gov/web-translation-services" class="hover:text-ny-gold focus:text-ny-gold hover:underline focus:underline flex ">
                        <span class="nysds-globe" aria-hidden="true"></span>
                        <span class="ml-2">Translation Services</span>
                    </a>
                    <span class="pt-0.5 ml-8">This page is available in other languages</span>
                </div>
              <ul>
                <li><a lang="en"  href="/" title="English" class="en-english">English</a></li>
                <li><a lang="es"  href="/es" title="Spanish" class="es-spanish">Español</a></li>
                <li><a lang="ar"  href="/ar" title="Arabic" class="ar-arabic">عربى</a></li>
                <li><a lang="bn"  href="/bn" title="Bengali" class="bn-bengali">বাঙালি</a></li>
                <li><a lang="zh"  href="/zh" title="Chinese" class="zh-chinese">中文</a></li>
                <li><a lang="fr"  href="/fr" title="French" class="fr-french">Français</a></li>
                <li><a lang="ht"  href="/ht" title="Haitian-Creole" class="ht-haitian-creole">Kreyòl ayisyen</a></li>
                <li><a lang="it"  href="/it" title="Italian" class="it-italian">Italiano</a></li>
                <li><a lang="ko"  href="/ko" title="Korean" class="ko-korean">한국어</a></li>
                <li><a lang="pl"  href="/pl" title="Polish" class="pl-polish">Polski</a></li>
                <li><a lang="ru"  href="/ru" title="Russian" class="ru-russian">Русскийy</a></li>
                <li><a lang="ur"  href="/ur" title="Urdu" class="ur-urdu">اردو</a></li>
                <li><a lang="yi"  href="/yi" title="Yiddish" class="yi-yiddish">יידיש</a></li>
              <ul>
        </div>
    <div class="block md:hidden">
        <div class="inline-flex">
            <span class="nysds-globe mr-2" aria-hidden="true"></span>
            <label class="sr-only" for="language-list">
                Select your language preference
            </label>
            <select 
            class="bg-[#333] font-bold appearance-none" 
            id="language-list" 
            name="languages" 
            autocomplete="off">
                <option lang="en" value="" disabled selected hidden>Translate</option>
                <option lang="en" value="/" >English</option>
                <option lang="es" value="/es" >Español</option>
                <option lang="ar" value="/ar" >عربى</option>
                <option lang="bn" value="/bn" >বাঙালি</option>
                <option lang="zh" value="/zh" >中文</option>
                <option lang="fr" value="/fr" >Français</option>
                <option lang="ht" value="/ht" >Kreyòl ayisyen</option>
                <option lang="it" value="/it" >Italiano</option>
                <option lang="ko" value="/ko" >한국어</option>
                <option lang="pl" value="/pl" >Polski</option>
                <option lang="ru" value="/ru" >Русскийy</option>
                <option lang="ur" value="/ur" >اردو</option>
                <option lang="yi" value="/yi" >יידיש</option>
            </select>
            <span class="ml-2 nysds-caret-down" aria-hidden="true"></span>
        </div>
    </div>
</footer>
{% endif %}

